html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid #f97316;
  outline-offset: 3px;
}

.fade {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}


.nav-item {
    position: relative;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;

    width: 0;
    height: 3px;
    background-color: rgb(252, 251, 249);

    transition: width 0.4s ease;
}

/* Au survol */
.nav-item:hover::after {
    width: 100%;
    left: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease;
}

/* element pour gerer le bas de navigation vertion mobile */

.bottom-nav {
    display: none;
}

@media screen and (max-width: 1024px) {
    .bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 70px;
        border-top: 1px solid #ddd;
        z-index: 1000;
    }
}

.bottom-nav a {
    text-align: center;
    text-decoration: none;
    color: #777;
    font-size: 12px;
}

.bottom-nav i {
    display: block;
    font-size: 18px;
}

/*  Bouton central */
.center-btn {
    position: absolute;
    top: -25px;
    background: #ff2d75;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    font-size: 22px;
}

/* Hover */
.bottom-nav a:hover {
    color: #ff2d75;
}
